<!DOCTYPE html>
<html>
<head>
    <title>Welcome Email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .email-container {
            max-width: 600px;
            margin: 40px auto;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        }
        
    
    </style>
</head>
<body>
    <div class="email-container">
        <div class="email-body">
            <h2>Hi {{name}},</h2>
            <p>Your Email has been Verified</p>
            
        </div>
        
    </div>
</body>
</html>
